@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
* {
  font-family: "Roboto Mono", monospace; }

body {
  display: grid;
  height: 100vh;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  background-color: #ff8f00;
  grid-template-areas: "nav" "main" "footer";
  grid-template-rows: 7% auto 7%; }

section {
  grid-area: section;
  text-align: center;
  background-color: #000000;
  border: 1px solid #263238;
  place-self: center;
  width: 100%;
  height: 100%; }
  section p {
    margin: 1rem; }
  section nav {
    display: inline; }
  section input {
    display: flex;
    padding-left: 0.5rem;
    border: 1px solid #dee2e6;
    border-radius: 1rem;
    background-color: #000000; }
  section label {
    color: #eeeeee; }
    section label input {
      display: inline; }
  section button {
    border: 1px solid #dee2e6;
    border-radius: 1rem;
    background-color: #000000;
    border-color: #ffffff;
    color: #ffffff; }

body #navBody {
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-area: nav;
  background-color: #000000;
  color: #ffffff; }

footer {
  grid-area: footer;
  background-color: #000000;
  color: #ffffff; }
  footer p {
    text-align-last: center;
    margin-bottom: 0px;
    margin-top: 10px; }

.mainLanding {
  grid-template-columns: minmax(1%, 5%) auto minmax(1%, 5%);
  grid-template-rows: minmax(1%, 5%) auto minmax(1%, 5%); }

.formLanding {
  flex-direction: column;
  justify-content: center;
  height: -webkit-fill-available;
  height: inherit;
  display: flex;
  padding-bottom: 50px; }
  .formLanding .span-Context {
    align-self: center; }
  .formLanding .input-group-text {
    background-color: #ffc107;
    border-color: #ffc107; }
  .formLanding button {
    padding: 0.5rem; }
  .formLanding #registerButton {
    background-color: #2e7d32; }
  .formLanding #loginButton {
    background-color: #2e7d32; }
  .formLanding #resetButton {
    background-color: #c62828; }
  .formLanding input:focus-visible {
    outline: none;
    background-color: #ffecb3; }
  .formLanding input:-webkit-autofill {
    -webkit-text-fill-color: greenyellow !important; }
  .formLanding input {
    color: greenyellow; }

#navRegister ul,
#navLogin ul {
  background: #263238;
  margin-left: 0;
  border-bottom: 0px solid #778;
  font: bold 12px Verdana, sans-serif; }
  #navRegister ul .current,
  #navLogin ul .current {
    background: black;
    border-right: 2.5px solid #263238;
    border-top: 1px solid #263238;
    border-bottom: 0px solid #778; }

main {
  display: grid;
  grid-area: main;
  grid-template-areas: ". . ." ". section ." ". . .";
  background-color: #1b1824; }

.input-group {
  padding: 0.2rem; }

html {
  height: 100%;
  width: 100%; }

@media (min-width: 1024px) and (max-width: 1280px) {
  * {
    font-size: xx-large; } }
