@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
* {
  font-family: "Roboto Mono", monospace; }

body {
  display: grid;
  height: 100vh;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  background-color: #ff8f00;
  grid-template-areas: "nav" "main" "footer";
  grid-template-rows: 7% auto 7%;
  grid-template-columns: 100%; }

body #nav-body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-area: nav;
  background-color: #000000;
  color: #ffffff; }

footer {
  grid-area: footer;
  background-color: #000000;
  color: #ffffff; }
  footer p {
    text-align-last: center;
    margin-bottom: 0px;
    margin-top: 10px; }

.main-landing {
  grid-template-columns: minmax(1%, 5%) auto minmax(1%, 5%);
  grid-template-rows: minmax(1%, 5%) auto minmax(1%, 5%); }
  .main-landing section {
    grid-area: section;
    text-align: center;
    background-color: #000000;
    border: 1px solid #263238;
    place-self: center;
    width: 100%;
    height: 100%; }
    .main-landing section p {
      margin: 1rem; }
    .main-landing section nav {
      display: inline; }
    .main-landing section input {
      display: flex;
      padding-left: 0.5rem;
      border: 1px solid #dee2e6;
      border-radius: 1rem;
      background-color: #000000; }
    .main-landing section label {
      color: #eeeeee; }
      .main-landing section label input {
        display: inline; }
    .main-landing section button {
      border: 1px solid #dee2e6;
      border-radius: 1rem;
      background-color: #000000;
      border-color: #ffffff;
      color: #ffffff; }

.form-landing {
  flex-direction: column;
  justify-content: center;
  height: -webkit-fill-available;
  height: inherit;
  display: flex;
  padding-bottom: 50px; }
  .form-landing .span-Context {
    align-self: center; }
  .form-landing .input-group-text {
    background-color: #ffc107;
    border-color: #ffc107; }
  .form-landing button {
    padding: 0.5rem; }
  .form-landing #register-button {
    background-color: #2e7d32; }
  .form-landing #login-button {
    background-color: #2e7d32; }
  .form-landing #reset-button {
    background-color: #c62828; }
  .form-landing input:focus-visible {
    outline: none;
    background-color: #ffecb3; }
  .form-landing input:-webkit-autofill {
    -webkit-text-fill-color: greenyellow !important; }
  .form-landing input {
    color: greenyellow; }

#nav-register ul,
#nav-login ul {
  background: #263238;
  margin-left: 0;
  border-bottom: 0px solid #778;
  font: bold 12px Verdana, sans-serif; }
  #nav-register ul .current,
  #nav-login ul .current {
    background: black;
    border-right: 2.5px solid #263238;
    border-top: 1px solid #263238;
    border-bottom: 0px solid #778; }

main {
  display: grid;
  grid-area: main;
  grid-template-areas: ". . ." ". section ." ". . .";
  background-color: #1b1824; }

.input-group {
  padding: 0.2rem; }

#main-dashboard {
  grid-template-areas: "lookup-section" "movies-section";
  grid-template-rows: auto auto; }
  #main-dashboard #section-movies {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: minmax(0, 1fr);
    grid-area: movies-section;
    overflow: scroll; }
    #main-dashboard #section-movies .movie-card {
      display: grid;
      grid-template-rows: 60% 40%;
      grid-template-columns: auto;
      grid-template-areas: "image" "text";
      margin: 2%;
      background-color: black;
      color: orange;
      border: solid 2.5px #321152;
      font-size: 0.95rem;
      text-shadow: 2px 2px #3d043d;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      opacity: 0.5;
      filter: alpha(opacity=50); }
    #main-dashboard #section-movies .movie-card:hover {
      opacity: 1;
      filter: alpha(opacity=100); }
    #main-dashboard #section-movies h5 {
      font-size: 0.95rem; }
    #main-dashboard #section-movies .card-img-top {
      grid-area: image;
      height: 100%; }
    #main-dashboard #section-movies .opera {
      margin-bottom: 35px;
      min-height: 395px;
      max-height: 60%;
      height: -webkit-fill-available; }
    #main-dashboard #section-movies .card-body {
      grid-area: text;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: auto; }
    #main-dashboard #section-movies .rating-and-like {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      place-items: center; }
  #main-dashboard #section-lookup {
    background-color: #263238;
    color: white;
    grid-area: lookup-section;
    height: fit-content; }
    #main-dashboard #section-lookup #form-search {
      width: -webkit-fill-available;
      display: grid;
      grid-template-areas: "search-button search-textarea" "filters filters" "message message";
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-auto-rows: minmax(0, 1fr); }
      #main-dashboard #section-lookup #form-search button {
        grid-area: search-button; }
      #main-dashboard #section-lookup #form-search input {
        grid-area: search-textarea; }
      #main-dashboard #section-lookup #form-search span {
        margin: 0; }
    #main-dashboard #section-lookup #dashboard-message {
      grid-area: message; }
    #main-dashboard #section-lookup #filters {
      align-self: center;
      grid-area: filters; }

@media only screen and (min-width: 1024px) {
  #section-movies {
    grid-template-columns: repeat(5, minmax(0, 1fr)) !important;
    overflow: hidden !important; }
  #form-search {
    grid-template-columns: 15% auto !important; }
  .card-body {
    overflow: hidden !important; } }

#section-error {
  border: 1px solid rgba(255, 255, 255, 0.7);
  background-color: #000000;
  color: #fff8e1;
  display: flex;
  grid-area: section;
  justify-content: center;
  align-items: center;
  flex-flow: column; }

#main-result {
  display: grid;
  grid-area: main;
  grid-template-areas: ". . ." ". section ." ". . .";
  background-color: #1b1824; }

#section-result {
  margin: 1rem 10% 1rem;
  grid-area: section;
  background-color: black !important;
  color: orange;
  border-color: #321152;
  text-shadow: 2px 2px #3d043d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  word-break: break-word; }

#main-user {
  grid-template-areas: "section-user" "section-liked-movies " "section-liked-series " "section-liked-games";
  grid-template-rows: 0.8fr 1fr 1fr 1fr;
  grid-template-columns: 100%;
  row-gap: 1em; }
  #main-user img {
    width: 100%;
    height: 100%; }

#section-user {
  grid-area: section-user;
  background-color: #b0bec5;
  text-align: center; }

#section-liked-movies {
  grid-area: section-liked-movies;
  background-color: #455a64;
  text-align: -webkit-center;
  padding-bottom: 5%; }
  #section-liked-movies .carousel {
    overflow: hidden; }
  #section-liked-movies .carousel-inner {
    height: 90%;
    width: 90%; }
  #section-liked-movies .carousel-control-prev,
  #section-liked-movies .carousel-control-next {
    background-color: #000; }
  #section-liked-movies .item {
    overflow: hidden; }
  #section-liked-movies .carousel-inner img {
    width: 100%;
    height: 100%;
    height: 479px;
    width: 410px; }
  #section-liked-movies .carousel-item {
    width: 100%;
    height: 100%; }
  #section-liked-movies .carousel-caption {
    color: #000;
    position: relative;
    float: left;
    left: 0;
    margin-left: 30px;
    margin-top: 30px; }

#section-liked-series {
  grid-area: section-liked-series;
  background-color: #455a64;
  text-align: -webkit-center;
  padding-bottom: 5%; }
  #section-liked-series .carousel {
    overflow: hidden; }
  #section-liked-series .carousel-inner {
    height: 90%;
    width: 90%; }
  #section-liked-series .carousel-control-prev,
  #section-liked-series .carousel-control-next {
    background-color: #000; }
  #section-liked-series .item {
    overflow: hidden; }
  #section-liked-series .carousel-inner img {
    width: 100%;
    height: 100%;
    height: 479px;
    width: 410px; }
  #section-liked-series .carousel-item {
    width: 100%;
    height: 100%; }
  #section-liked-series .carousel-caption {
    color: #000;
    position: relative;
    float: left;
    left: 0;
    margin-left: 30px;
    margin-top: 30px; }

#section-liked-games {
  grid-area: section-liked-games;
  background-color: #455a64;
  text-align: -webkit-center;
  padding-bottom: 5%; }
  #section-liked-games .carousel {
    overflow: hidden; }
  #section-liked-games .carousel-inner {
    height: 90%;
    width: 90%; }
  #section-liked-games .carousel-control-prev,
  #section-liked-games .carousel-control-next {
    background-color: #000; }
  #section-liked-games .item {
    overflow: hidden; }
  #section-liked-games .carousel-inner img {
    width: 100%;
    height: 100%;
    height: 479px;
    width: 410px; }
  #section-liked-games .carousel-item {
    width: 100%;
    height: 100%; }
  #section-liked-games .carousel-caption {
    color: #000;
    position: relative;
    float: left;
    left: 0;
    margin-left: 30px;
    margin-top: 30px; }

@media only screen and (min-width: 1024px) {
  .carousel-inner {
    height: 90% !important; }
    .carousel-inner .carousel-item img {
      max-height: 626.797px;
      max-width: 424.188px; }
  #main-user {
    grid-template-areas: "section-user section-user section-user" "section-liked-movies section-liked-series section-liked-games";
    grid-template-rows: 0.35fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1%; } }

html {
  height: 100%;
  width: 100%; }

@media (min-width: 1023px) and (max-width: 1281px) {
  * {
    font-size: xx-large; } }
