@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
* {
  font-family: "Roboto Mono", monospace; }

body {
  display: grid;
  height: 100vh;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  background-color: #ff8f00;
  grid-template-areas: "nav" "main" "footer";
  grid-template-rows: 7% auto 7%; }

body #nav-body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-area: nav;
  background-color: #000000;
  color: #ffffff; }

footer {
  grid-area: footer;
  background-color: #000000;
  color: #ffffff; }
  footer p {
    text-align-last: center;
    margin-bottom: 0px;
    margin-top: 10px; }

.main-landing {
  grid-template-columns: minmax(1%, 5%) auto minmax(1%, 5%);
  grid-template-rows: minmax(1%, 5%) auto minmax(1%, 5%); }
  .main-landing section {
    grid-area: section;
    text-align: center;
    background-color: #000000;
    border: 1px solid #263238;
    place-self: center;
    width: 100%;
    height: 100%; }
    .main-landing section p {
      margin: 1rem; }
    .main-landing section nav {
      display: inline; }
    .main-landing section input {
      display: flex;
      padding-left: 0.5rem;
      border: 1px solid #dee2e6;
      border-radius: 1rem;
      background-color: #000000; }
    .main-landing section label {
      color: #eeeeee; }
      .main-landing section label input {
        display: inline; }
    .main-landing section button {
      border: 1px solid #dee2e6;
      border-radius: 1rem;
      background-color: #000000;
      border-color: #ffffff;
      color: #ffffff; }

.form-landing {
  flex-direction: column;
  justify-content: center;
  height: -webkit-fill-available;
  height: inherit;
  display: flex;
  padding-bottom: 50px; }
  .form-landing .span-Context {
    align-self: center; }
  .form-landing .input-group-text {
    background-color: #ffc107;
    border-color: #ffc107; }
  .form-landing button {
    padding: 0.5rem; }
  .form-landing #register-button {
    background-color: #2e7d32; }
  .form-landing #login-button {
    background-color: #2e7d32; }
  .form-landing #reset-button {
    background-color: #c62828; }
  .form-landing input:focus-visible {
    outline: none;
    background-color: #ffecb3; }
  .form-landing input:-webkit-autofill {
    -webkit-text-fill-color: greenyellow !important; }
  .form-landing input {
    color: greenyellow; }

#nav-register ul,
#nav-login ul {
  background: #263238;
  margin-left: 0;
  border-bottom: 0px solid #778;
  font: bold 12px Verdana, sans-serif; }
  #nav-register ul .current,
  #nav-login ul .current {
    background: black;
    border-right: 2.5px solid #263238;
    border-top: 1px solid #263238;
    border-bottom: 0px solid #778; }

main {
  display: grid;
  grid-area: main;
  grid-template-areas: ". . ." ". section ." ". . .";
  background-color: #1b1824; }

.input-group {
  padding: 0.2rem; }

#main-dashboard {
  grid-template-areas: "movies-section" "lookup-section";
  grid-template-rows: 70% 30%; }
  #main-dashboard #movies-section {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-rows: minmax(0, 1fr);
    grid-auto-flow: column;
    grid-area: movies-section; }
    #main-dashboard #movies-section .movie-card {
      flex-shrink: 1; }
  #main-dashboard #lookup-section {
    background-color: #ffecb3;
    display: grid;
    grid-area: lookup-section; }

html {
  height: 100%;
  width: 100%; }

@media (min-width: 1024px) and (max-width: 1280px) {
  * {
    font-size: xx-large; } }
