<main id="main-dashboard">
	<% if (message) { %><span class="alert alert-<%= alertType %> span-Context" role="alert"><%= message %></span><% } %>
	<section id="lookup-section">
		<form>
			<button type="submit" class="btn btn-primary">Search</button>
			<input type="text" class="form-control" id="searchQuery" />
		</form>
	</section>
	<section id="movies-section">
		<article class="card movie-card">
			<img src="..." class="card-img-top" alt="..." />
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">
					Some quick example text to build on the card title and make up the bulk of the card's content.
				</p>
			</div>
		</article>
		<article class="card movie-card">
			<img src="..." class="card-img-top" alt="..." />
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">
					Some quick example text to build on the card title and make up the bulk of the card's content.
				</p>
			</div>
		</article>
		<article class="card movie-card">
			<img src="..." class="card-img-top" alt="..." />
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">
					Some quick example text to build on the card title and make up the bulk of the card's content.
				</p>
			</div>
		</article>
		<article class="card movie-card">
			<img src="..." class="card-img-top" alt="..." />
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">
					Some quick example text to build on the card title and make up the bulk of the card's content.
				</p>
			</div>
		</article>
		<article class="card movie-card">
			<img src="..." class="card-img-top" alt="..." />
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">
					Some quick example text to build on the card title and make up the bulk of the card's content.
				</p>
			</div>
		</article>
		<article class="card movie-card">
			<img src="..." class="card-img-top" alt="..." />
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">
					Some quick example text to build on the card title and make up the bulk of the card's content.
				</p>
			</div>
		</article>
		<article class="card movie-card">
			<img src="..." class="card-img-top" alt="..." />
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">
					Some quick example text to build on the card title and make up the bulk of the card's content.
				</p>
			</div>
		</article>
		<article class="card movie-card">
			<img src="..." class="card-img-top" alt="..." />
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">
					Some quick example text to build on the card title and make up the bulk of the card's content.
				</p>
			</div>
		</article>
		<article class="card movie-card">
			<img src="..." class="card-img-top" alt="..." />
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">
					Some quick example text to build on the card title and make up the bulk of the card's content.
				</p>
			</div>
		</article>
		<article class="card movie-card">
			<img src="..." class="card-img-top" alt="..." />
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">
					Some quick example text to build on the card title and make up the bulk of the card's content.
				</p>
			</div>
		</article>
		<article class="card movie-card">
			<img src="..." class="card-img-top" alt="..." />
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">
					Some quick example text to build on the card title and make up the bulk of the card's content.
				</p>
			</div>
		</article>
		<article class="card movie-card">
			<img src="..." class="card-img-top" alt="..." />
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">
					Some quick example text to build on the card title and make up the bulk of the card's content.
				</p>
			</div>
		</article>
	</section>

	<section id="pagination-section">
		<nav>
			<ul class="">
				<li class="previous"><a class="page-link" href="#">Previous</a></li>
				<div id="pages">
					<li class="page-number"><a class="page-link" href="#">1</a></li>
					<li class="page-number"><a class="page-link" href="#">2</a></li>
					<li class="page-number"><a class="page-link" href="#">3</a></li>
				</div>
				<li class="next"><a class="page-link" href="#">Next</a></li>
			</ul>
		</nav>
	</section>
</main>
