<main id="main-dashboard">
	<% if (message) { %><span class="alert alert-<%= alertType %> span-Context" role="alert"><%= message %></span><% } %>
	<section id="movies-section">
		<article class="card movie-card">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">Card title</h5>
			  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  <a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</article>
		<article class="card movie-card">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">Card title</h5>
			  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  <a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</article>
		<article class="card movie-card">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">Card title</h5>
			  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  <a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</article>
	</section>
	<section id="lookup-section"></section>
</main>