<main id="main-dashboard">
	<section id="lookup-section">
		<form action="/search" id="search-form" method="POST">
			<button type="submit" formmethod="POST" form="search-form" class="btn btn-primary">Search</button>
			<input type="text" class="form-control" id="inputQuerySearch" name="searchQuery" />
			<% if (message) { %><span id="dashboard-message" class="alert alert-<%= alertType %> span-Context" role="alert"
				><%= message %></span
			>
			<%} else { %>
			<span id="dashboard-message" class="alert alert-success span-Context" role="alert"
				>Look for a movie/game/episode</span
			>
			<% } %>
			<section id="filters">
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="type" id="inlineRadio1" value="movie" />
					<label class="form-check-label" for="inlineRadio1">Movie</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="type" id="inlineRadio2" value="series" />
					<label class="form-check-label" for="inlineRadio2">Serie</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="type" id="inlineRadio3" value="game" />
					<label class="form-check-label" for="inlineRadio3">Game</label>
				</div>	
			</section>
		</form>
	</section>
	<section id="movies-section">
		<% if (searchResult!='not found') { %> <% searchResult.forEach(function(result) { %>
		<article class="movie-card">
			<img
				src="<%=
			result.Poster %>"
				class="card-img-top"
				alt="..."
			/>
			<div class="card-body">
				<h5 class="card-title"><%= result.Title %></h5>
			</div>
		</article>
		<% }); } %>
	</section>
</main>
