<main id="main-dashboard">
	<% if (message) { %><span class="alert alert-<%= alertType %> span-Context" role="alert"><%= message %></span><% } %>
	<section id="lookup-section">
		<form action="/search" id="searchForm" method="POST">
			<button type="submit" formmethod="POST" form="searchForm" class="btn btn-primary">Search</button>
			<input type="text" class="form-control" id="inputQuerySearch" name="searchQuery" />
		</form>
	</section>
	<section id="movies-section">
		<% if (searchResult!='not found') { %> <% searchResult.forEach(function(result) { %>
		<article class="movie-card">
			<img src="<%=
			result.Poster %>" class="card-img-top" alt="..." />
			<div class="card-body">
				<h5 class="card-title"><%= result.Title %></h5>
			</div>
		</article>
		<% });  } %>

	</section>
</main>
