
<main>
<section style="
      inline-size: -webkit-fill-available;
      font-size: xx-large;
      height:50%;
      padding-top:5%;">


            <h1 ><%= message %></h1>
        
            <h2 ><%= error.status %></h2>
    
            <pre hidden ><%= error.stack %></pre>
		<p><%=context %></p>

</section>
</main>


