<section>
	<article id="register">
		<form>
			<fieldset>
				<legend>Register</legend>
				<label for="username">Email</label>
				<input type="text" id="Email" placeholder="something@somemail.com" />
				<label for="username">Username</label>
				<input type="text" id="Username" placeholder="Username" />
				<label for="password">Password</label>
				<input type="password" id="password" placeholder="Password" />
			</fieldset>
		</form>
	</article>
	<article id="login">
		<form>
			<fieldset>
				<legend>Login</legend>
				<label for="username">Username</label>
				<input type="text" id="Username" placeholder="Username" />
				<label for="password">Password</label>
				<input type="password" id="password" placeholder="Password" />
			</fieldset>
		</form>
	</article>
</section>
