<main class="mainLanding">
	<section class="sectionLanding">
		<nav id="navRegister">
		<ul class="nav nav-tabs">
			<li class="nav-item">
			  <a class="nav-link disabled current" aria-current="page" href="#">Register</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="/login">Login</a>
			  
			</li>
			
		  </ul>
		</nav>
		<form id="formRegister" class="formLanding" action="auth/register" method="post">
			<label>Email</label>
			<div class="input-group d-flex justify-content-center">
				<span class="input-group-text"><i class="fas fa-envelope" aria-hidden="true"></i></span>

				<input
					type="email"
					name="email"
					required
					placeholder="yourmail@email.com"
					style="
						text-shadow: 2px 2px rgb(61 4 61);
						box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
					"
					required
				/>
			</div>

			<label>Username</label>
			<div class="input-group d-flex justify-content-center">
				<span class="input-group-text"><i class="fas fa-user" aria-hidden="true"></i></span>

				<input
					type="text"
					name="username"
					placeholder="Username"
					style="
						text-shadow: 2px 2px rgb(61 4 61);
						box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
					"
					required
				/>
			</div>

			<label>Password</label>
			<div class="input-group d-flex justify-content-center">
				<span class="input-group-text"><i class="fas fa-key" aria-hidden="true"></i></span>
				<input
					type="password"
					name="password"
					placeholder="Password"
					style="
						text-shadow: 2px 2px rgb(61 4 61);
						box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
					"
					required
				/>
			</div>

			<p>
				<label>
					<input type="checkbox" value="terms" />
					I agree to the <a href="/terms">terms and conditions</a>
				</label>
			</p>
			<p>
				<button id="resetButton" type="reset">Reset form</button>
				<button id="registerButton" formmethod="POST" form="formRegister" type="submit">Sign up</button>
			</p>
			<% if (message) { %><span class="alert alert-<%= alertType %> span-Context" role="alert"><%= message %></span><% } %>
		</form>

	</section>
</main>
