.main-landing {
	section {
		grid-area: section;
		text-align: center;
		background-color: $md-black;
		border: 1px solid $md-blue-grey-900;
		place-self: center;

		width: 100%;
		height: 100%;

		p {
			margin: 1rem;
		}

		nav {
			display: inline;
		}
		input {
			display: flex;
			padding-left: 0.5rem;
			border: 1px solid #dee2e6;
			border-radius: 1rem;
			background-color: $md-black;
		}
		label {
			color: $md-grey-200;
			input {
				display: inline;
			}
		}
		button {
			border: 1px solid #dee2e6;
			border-radius: 1rem;
			background-color: $md-black;
			border-color: $md-white;
			color: $md-white;
		}
	}

	grid-template-columns: minmax(1%, 5%) auto minmax(1%, 5%);
	grid-template-rows: minmax(1%, 5%) auto minmax(1%, 5%);
}

.form-landing {
	flex-direction: column;
	justify-content: center;
	height: -webkit-fill-available;
	height: inherit;
	display: flex;
	padding-bottom: 50px;
	.span-Context {
		align-self: center;
	}

	.input-group-text {
		background-color: $md-amber-500;
		border-color: $md-amber-500;
	}
	button {
		padding: 0.5rem;
	}

	#register-button {
		background-color: $md-green-800;
	}
	#login-button {
		background-color: $md-green-800;
	}
	#reset-button {
		background-color: $md-red-800;
	}
	input:focus-visible {
		outline: none;
		background-color: $md-amber-100;
	}

	input:-webkit-autofill {
		-webkit-text-fill-color: greenyellow !important;
	}

	input {
		color: greenyellow;
	}
}

#nav-register,
#nav-login {
	ul {
		background: $md-blue-grey-900;
		margin-left: 0;
		border-bottom: 0px solid #778;
		font: bold 12px Verdana, sans-serif;

		.current {
			background: black;
			border-right: 2.5px solid $md-blue-grey-900;
			border-top: 1px solid $md-blue-grey-900;
			border-bottom: 0px solid #778;
		}
	}
}
