.mainLanding{
	grid-template-columns: minmax(1%, 5%) auto minmax(1%, 5%);
	grid-template-rows: minmax(1%, 5%) auto minmax(1%, 5%);
}

.formLanding{
	display: contents;
	flex-direction: column;
	justify-content: center;
	height: -webkit-fill-available;
	.input-group-text {
		background-color: $md-amber-500;
		border-color: $md-amber-500;
	}
    button{
        padding:0.5rem;
    }
}

