.mainLanding {
	grid-template-columns: minmax(1%, 5%) auto minmax(1%, 5%);
	grid-template-rows: minmax(1%, 5%) auto minmax(1%, 5%);
}

.formLanding {
	flex-direction: column;
	justify-content: center;
	height: -webkit-fill-available;
	height: inherit;
	display: flex;

	.input-group-text {
		background-color: $md-amber-500;
		border-color: $md-amber-500;
	}
	button {
		padding: 0.5rem;
	}

	#registerButton {
		background-color: $md-green-800;
	}
	#loginButton {
		background-color: $md-green-800;
	}
	#resetButton {
		background-color: $md-red-800;
	}
	input:focus-visible {
		outline: none;
		background-color: $md-amber-100;
	}

	input:-webkit-autofill {
		-webkit-text-fill-color: greenyellow !important;
	}

	input {
		color: greenyellow;
	}
}

#navRegister,
#navLogin {
	ul {
		background: $md-blue-grey-900;
		margin-left: 0;
		border-bottom: 0px solid #778;
		font: bold 12px Verdana, sans-serif;

		.current {
			background: black;
			border-right: 2.5px solid $md-blue-grey-900;
			border-top: 1px solid $md-blue-grey-900;
			border-bottom: 0px solid #778;
		}
	}
}
