#main-dashboard {
	grid-template-areas:
		"lookup-section"
		"movies-section";

	grid-template-rows: 5% auto;
	#movies-section {
		display: grid;

		grid-template-columns: repeat(2, minmax(0, 1fr));
		grid-auto-rows: minmax(0, 1fr);
		//  grid-auto-flow: column;
		grid-area: movies-section;
		overflow: scroll;

		.movie-card {
			place-content: flex-end;
			background-color: $md-brown-300;
			margin:5px;
		}
		img {
			height:65%;
		}

		.card-body {
			
		}
	}

	#lookup-section {
		display: flex;

		background-color: $md-amber-100;

		grid-area: lookup-section;

		form {
			width: -webkit-fill-available;
			display: grid;
			grid-template-columns: 0.5fr auto;
		}
	}
}
