#main-user {
	padding: 1rem;
	display: block;
	text-align: center;
}

#section-user {
	height: 50%;
	margin-bottom:5%;
	
	background-color: $md-blue-grey-800;
	#passwordHelpBlock{
		padding-top:40px;
	}
	label{
		padding:0;
	}
}
#section-favourites {
	height: 48%;
	background-color: $md-blue-grey-800;
	margin-bottom: 1rem;

	display: flex;
	flex-direction: column;

	#carouselExampleControls {
		text-align: -webkit-center;
	}
	.carousel {
		overflow: hidden;
	}

	.carousel-inner {
		height: 90%;
		width: 90%;
	}

	.carousel-control-prev,
	.carousel-control-next {
		background-color: #000;
	}
	.item {
		overflow: hidden;
	}
	.carousel-inner img {
		width: 100%;
		height: 100%;
	}

	.carousel-item {
		width: 100%;
		height: 100%;
	}

	.carousel-caption {
		color: #000;
		position: relative;
		float: left;
		left: 0;
		margin-left: 30px;
		margin-top: 30px;
	}
}

@media only screen and (min-width: 1024px) {
	.carousel-inner {
		height: 90% !important;
		//width: 25% !important;
	}
	#section-favourites {
		//margin-left: 25%;
		width: 25%;
	}

	
#section-user {

	margin-bottom:2%;
	

}
}
