
#main-user {
	grid-template-areas:
		"section-user"
		"section-liked-movies "
		"section-liked-series "
		"section-liked-games";
	grid-template-rows: 0.8fr 1fr 1fr 1fr;
	grid-template-columns: 1fr;
	row-gap: 1em;
}
#section-user {
	grid-area: section-user;
	background-color: $md-blue-grey-200;
		text-align: center;
}
#section-liked-movies {
	grid-area: section-liked-movies;
	background-color: $md-blue-grey-700;
	text-align: -webkit-center;
	padding-bottom: 5%;
	@import "../components/carousel";
}


#section-liked-series {
	grid-area: section-liked-series;
	background-color: $md-blue-grey-700;
	text-align: -webkit-center;
	padding-bottom: 5%;
	@import "../components/carousel";
}

#section-liked-games {
	grid-area: section-liked-games;
	background-color: $md-blue-grey-700;
	text-align: -webkit-center;
	padding-bottom: 5%;
	@import "../components/carousel";
}

@media only screen and (min-width: 1024px) {
	.carousel-inner {
		height: 90% !important;
	
	}
	#main-user {
		grid-template-areas:
			"section-user section-user section-user"
			"section-liked-movies section-liked-series section-liked-games";
		grid-template-rows: 0.35fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		row-gap: 1%;
		
	}

}
