@charset "UTF-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

@import "./abstract/variables";
@import "./abstract/mixins";

@import "./base/base";
@import "./base/typography";
@import "./base/colors";

@import "./layout/body";
@import "./layout/main";
@import "./layout/section";
@import "./layout/nav";
@import "./layout/footer";

@import "./components/registerAndLogin";

@import "./pages/landing";
@import "./pages/login";
@import "./pages/dashboard";

.formLanding {
	padding-bottom: 50px;
}
html {
	height: 100%;
	width: 100%;
}
body {
	width: 100%;
	height: 100%;
}
section {
	width: 100%;
	height: 100%;
}

.formLanding {
	.span-Context {
		align-self: center;
	}
}
